<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.jeonju.mypet.admin">



	
	
		<select id="getMembersList" resultType="membersVo">
		select * from members
	</select>
	

	
	
	<select id="getBoardList" resultType="boardVo">
		SELECT * FROM board where board_name=1
		
	</select>
	
		<select id="getEventList" resultType="boardVo">
		SELECT * FROM board where board_name=2
		
	</select>
	
	
	
		<select id="getMuneList" resultType="boardVo">
		SELECT * FROM board where board_name=0
		
	</select>
	
	
		<select id="getCommunityList" resultType="communityVo">
		SELECT * FROM community
		
	</select>


	<select id="getLaunchList" resultType="launchVo">
		SELECT * FROM launch
		
	</select>	
	
	
	<update id="updateMemberGrade" parameterType="map" >
		update members set m_grade= 1
			where midx = #{midx}
	</update>
	
		<update id="updateMemberGrade0" parameterType="map" >
		update members set m_grade= 0
			where midx = #{midx}
	</update>
	

	
	<delete id="deleteMemberInfo" parameterType="list">
		delete from members where midx in 
		<foreach collection="list" item="midx" open="(" separator="," close=")" >
			#{midx}
		</foreach>
	
	</delete>





<insert id="awInsert" parameterType="boardVo">
    insert into board(midx,board_name,board_subject,board_content,board_writer,board_origin_bidx,board_depth,borad_level_,bord_front_image)
    <choose>
    
      <when test="bord_front_image != null">
      values(#{midx},1, #{board_subject}, #{board_content}, #{board_writer}, #{board_origin_bidx},#{board_depth},#{borad_level_},#{bord_front_image})
      </when>
      <otherwise>
      values(#{midx},1, #{board_subject}, #{board_content}, #{board_writer}, #{board_origin_bidx},#{board_depth},#{borad_level_})
      </otherwise>
    </choose>
    </insert>
    
    
    
    <insert id="awInsert2" parameterType="boardVo">
    insert into board(midx,board_name,board_subject,board_content,board_writer,board_origin_bidx,board_depth,borad_level_,bord_front_image)
    <choose>
    
      <when test="bord_front_image != null">
      values(#{midx},2, #{board_subject}, #{board_content}, #{board_writer}, #{board_origin_bidx},#{board_depth},#{borad_level_},#{bord_front_image})
      </when>
      <otherwise>
      values(#{midx},2, #{board_subject}, #{board_content}, #{board_writer}, #{board_origin_bidx},#{board_depth},#{borad_level_})
      </otherwise>
    </choose>
    </insert>



  <insert id="awInsert0" parameterType="boardVo">
    insert into board(midx,board_name,board_subject,board_content,board_writer,board_origin_bidx,board_depth,borad_level_,bord_front_image)
    <choose>
    
      <when test="bord_front_image != null">
      values(#{midx},0, #{board_subject}, #{board_content}, #{board_writer}, #{board_origin_bidx},#{board_depth},#{borad_level_},#{bord_front_image})
      </when>
      <otherwise>
      values(#{midx},0, #{board_subject}, #{board_content}, #{board_writer}, #{board_origin_bidx},#{board_depth},#{borad_level_})
      </otherwise>
    </choose>
    </insert>




	<select id="getBoardListd" resultType="boardVo">
	SELECT * FROM board where board_name=1 and bidx = #{bidx}
			
		
	
		
	</select>
	
	
	 <select id="adminmodi" parameterType="int" resultType="boardVo">
    SELECT * FROM board WHERE board_name=1 and bidx = #{bidx}
</select>



     <update id="Updateadmin" parameterType="boardVo">
        <choose>
        <when test="cm_img != null">
    UPDATE board SET board_subject = #{board_subject}, board_content = #{board_content}
   
    WHERE bidx=#{bidx}
         </when>
         <otherwise>
    UPDATE board SET board_subject = #{board_subject}, board_content = #{board_content}
    WHERE bidx=#{bidx}
         </otherwise>
        </choose>
        
         </update>
 
</mapper>






