<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.jeonju.mypet.admin">



	
	
		<select id="getMembersList" resultType="membersVo">
		select * from members
	</select>
	

	
	
	<select id="getBoardList" resultType="boardVo">
		SELECT * FROM board where board_name=1
		
	</select>
	
		<select id="getEventList" resultType="boardVo">
		SELECT * FROM board where board_name=2
		
	</select>
	
	
	
		<select id="getMuneList" resultType="boardVo">
		SELECT * FROM board where board_name=0
		
	</select>
	
	
		<select id="getCommunityList" resultType="communityVo">
		SELECT * FROM community
		
	</select>
	
	
	
	<update id="updateMemberGrade" parameterType="map" >
		update members set m_grade= #{m_grade}
			where midx = #{midx}
	</update>
	
	

	
	<delete id="deleteMemberInfo" parameterType="list">
		delete from members where midx in 
		<foreach collection="list" item="midx" open="(" separator="," close=")" >
			#{midx}
		</foreach>
	
	</delete>










	
	
</mapper>








