<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.jeonju.mypet.cart">

		<!-- 장바구니 유효성검사 -->
<!-- 	<select id="gercartMemCheck" resultType="Boolean" parameterType="cartVo"> -->
<!-- 		select -->
<!-- 		<![CDATA[ -->
<!--  		if(count(*) < 0,'false','true') -->
<!-- 		]]> -->
<!-- 		from cart where midx = #{midx} and p_idx = #{p_idx} -->
<!-- 	</select> -->

	
	<!-- 장바구니 추가 -->
	<insert id="insertCart" parameterType="cartVo">
		insert into cart(midx, p_idx, cart_cnt)
		values(#{midx},#{p_idx},#{cart_cnt})
	</insert>

	<!-- 장바구니에 해당 상품이 이미 있다면 (수량)업데이트 -->
	<update id="updateCart" parameterType="cartVo">
		update cart 
		<![CDATA[
		 set cart_cnt = cart_cnt + #{cart_cnt}
		]]>
		where midx=#{midx}
		and p_idx=#{p_idx}
	</update>

	<!-- 카트 판매자 리스트 와 판매자별 상품 총 가격 -->
	<select id="cartSellerList" resultType="Hashmap">
		
		select b.seller_idx, max(a.cart_idx), d.m_nick, a.cart_cnt, b.p_price, sum(cart_cnt*p_price) as seller_price, b.p_dvprice, b.p_free_dvprice,
 (select sum(b.p_price*a.cart_cnt) from cart a join product b on a.p_idx=b.p_idx where a.midx=#{midx}) as totalProduct
		from cart a join product b on a.p_idx=b.p_idx join sellerstory c on b.seller_idx=c.seller_idx join members d on c.midx=d.midx
		where a.midx=#{midx}
		group by b.seller_idx
		order by a.cart_idx desc

	</select>

	<!-- 카트 리스트 -->
	<select id="getcartList" parameterType="list" resultType="cartVo">
		
		select a.cart_request, a.cart_idx,a.cart_cnt,a.midx,b.p_idx,b.p_content,b.p_name,b.p_discount,b.p_disprice,b.p_price,c.p_front_img,c.p_ori_filename,c.p_sys_filename, b.seller_idx, a.cart_cnt*b.p_price as c_price,p_free_dvprice,p_dvprice
		from cart a join product b on a.p_idx = b.p_idx join product_img c on b.p_idx = c.p_idx
		where midx=#{midx}
		group by b.p_idx
		order by a.cart_idx desc
		
	</select>
	
	<!-- 상품만총가격 -->
	<select id="totalProductPrice" resultType="HashMap">
	select *,totalproductprice+totaldvprice as totalprice
 							from  (select sum(cart_cnt*p_disprice) as totalproductprice,
	  			  		 	sum( IF((cart_cnt*p_price)>b.p_free_dvprice,0,b.p_dvprice) ) as totaldvprice
							from cart a join product b on a.p_idx=b.p_idx join sellerstory c on b.seller_idx=c.seller_idx join members d on c.midx=d.midx
							where a.midx=#{midx}) t

	</select>
	
	
	
	<!-- 카트에 상품 들어있는지 -->
	<select id="getcountCart" resultType="int">
		select count(*) from cart where midx=#{midx} and p_idx = #{p_idx}
	</select>
	<!-- 카트에 상품이 몇개 들어있는지 -->
	<select id="getcountMemberCart" resultType="int">
		select count(*) from cart where midx=#{midx}
	</select>
	<update id="getmodifycntcart" parameterType="cartVo">
	update cart set cart_cnt=#{cart_cnt} where midx=#{midx} and cart_idx=#{cart_idx}
	</update>
	<!-- 카트삭제버튼 -->
	<delete id="deleteCart" parameterType="cartVo">
	delete from cart where cart_idx=#{cart_idx} and midx=#{midx}
	</delete>
	<delete id="resetCart">
	delete from cart where midx=#{midx} and cart_idx=#{cart_idx}
	</delete>
	
	
	<update id="requestCartUpdate" parameterType="cartVo">
	update cart set cart_request=#{cart_request} where midx=#{midx} and p_idx=#{p_idx} and cart_idx=#{cart_idx}
	</update>
	
</mapper>