<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.jeonju.mypet.community">

    <select id="getCommuList" resultType="communityVo">
    SELECT cm_idx, community.midx as midx, cm_subject,cm_wday, cm_writer,
     cm_img, cm_origin_img, m_profile, community_like_cnt, cm_comment_cnt, cm_view_cnt
     FROM community INNER JOIN members ON members.midx = community.midx WHERE cm_delyn = 'N'
    </select>
    
    
    <!-- CBView -->
    
     <update id="UpdateCB" parameterType="communityVo">
        <choose>
        <when test="cm_img != null">
    UPDATE community SET cm_subject = #{cm_subject}, cm_content = #{cm_content}
    , cm_img = #{cm_img}, cm_origin_img = #{cm_origin_img}
    WHERE cm_idx=#{cm_idx}
         </when>
         <otherwise>
    UPDATE community SET cm_subject = #{cm_subject}, cm_content = #{cm_content}
    WHERE cm_idx=#{cm_idx}
         </otherwise>
        </choose>
 


    </update>
   
    
    <insert id="InsertCB" parameterType="communityVo">
    INSERT INTO community(midx, cm_subject, cm_content, cm_writer, cm_img, cm_origin_img)
    <choose>
      <when test="cm_img != null">
      VALUES(#{midx}, #{cm_subject}, #{cm_content}, #{cm_writer}, #{cm_img}, #{cm_origin_img})
      </when>
      <otherwise>
      VALUES(#{midx}, #{cm_subject}, #{cm_content}, #{cm_writer})
      </otherwise>
    </choose>
    </insert>
    
    <select id="getCBView" parameterType="int" resultType="communityVo">
    SELECT cm_subject, cm_content, cm_wday, cm_img, cm_writer,cm_idx, community.midx as midx, m_profile, community_like_cnt
    FROM community INNER JOIN members ON members.midx = community.midx WHERE cm_idx= #{cm_idx}
    </select>
   
   
   <!-- 댓글 -->
    <select id="getCcmList" resultType="commu_commentVo">
    SELECT * FROM commu_comment WHERE cc_delyn = 'N' AND cm_idx = #{cm_idx} ORDER BY cc_origin DESC, cc_depth ASC;
    </select>
    
    <select id="getReplyCount" resultType="int">
    SELECT DISTINCT COUNT(cc_idx) FROM commu_comment WHERE cc_delyn = 'N' AND cm_idx=#{cm_idx} 
    </select>
   
   
    <insert id="InsertComment" parameterType="commu_commentVo">
    <selectKey keyProperty="cc_origin" resultType="int" order="BEFORE">
     SELECT ifnull(max(cc_idx),0)+1 FROM commu_comment
    </selectKey>
    INSERT INTO commu_comment(cc_origin, cc_content, cm_idx, cc_writer, midx)
    VALUES(#{cc_origin}, #{cc_content}, #{cm_idx}, #{cc_writer},#{midx})
    </insert>
    
    <update id="UpDepth" parameterType="commu_commentVo">
    UPDATE commu_comment SET cc_depth = cc_depth+1 WHERE cc_origin = #{cc_origin}
    AND cc_depth > #{cc_depth}
    </update>
    
    <insert id="CCInsert" parameterType="commu_commentVo">
    INSERT INTO commu_comment(cm_idx, cc_content, cc_writer, cc_origin, cc_depth, cc_level, midx)
    VALUES( #{cm_idx}, #{cc_content}, #{cc_writer}, #{cc_origin}, #{cc_depth}+1, #{cc_level}+1, #{midx})
    </insert>
    
    
    
    <!--SellerStory  -->
    <select id="getBSList" resultType="sellerStoryVo">
   SELECT m_nick, s.seller_idx AS seller_idx, seller_img, seller_intro, seller_starsavg,
   seller_followcnt,p.p_idx AS p_idx,p_sys_filename,
   p_name
   FROM members m INNER JOIN sellerstory s ON m.midx = s.midx
   LEFT JOIN product p ON s.seller_idx=p.seller_idx
   left JOIN product_img c ON p.p_idx = c.p_idx
   GROUP BY seller_idx
   ORDER BY seller_followcnt DESC
    </select>
    
    <select id="getBSellerView" resultType="sellerStoryVo">
    SELECT seller_idx, seller_img, seller_intro, seller_openday, 
    seller_starsavg, seller_total, seller_wishcnt, seller_ordercnt, seller_followcnt,
    m_profile,m_nick , seller_img
    FROM sellerstory INNER JOIN members ON members.midx = sellerstory.midx 
    WHERE seller_idx = #{seller_idx}
    </select>
    
    <select id="getBSPList" resultType="productVo">
    SELECT product.p_idx AS p_idx, p_category_idx, p_name, p_content,
    p_price, p_discount, p_sys_filename, p_status, 
    IFNULL(avg(review_stars),0) AS avg_reviews_stars, COUNT(review_stars) AS cnt_reviews
    FROM product INNER JOIN product_img ON product.p_idx = product_img.p_idx 
    LEFT JOIN review ON product.p_idx = review.p_idx
    WHERE seller_idx = #{seller_idx} 
    GROUP BY p_idx
    ORDER BY p_idx DESC
    </select>
    
    <select id="getBSPCount" resultType="int">
    SELECT COUNT(DISTINCT p_idx) 
    FROM product WHERE p_delyn = 'N' AND seller_idx = #{seller_idx}
    </select>
    
    <select id="getAList" resultType="reviewVo">
	SELECT product.p_idx as p_idx, p_sys_filename, 
	p_name, review_stars, review_content, m_nick
	FROM product INNER JOIN product_img ON product.p_idx = product_img.p_idx
	INNER JOIN review ON product.p_idx = review.p_idx INNER JOIN members ON review.midx = members.midx
	WHERE seller_idx = #{seller_idx}  
	GROUP BY p_idx
	ORDER BY review_idx DESC
  
  
    </select>
    
    <select id="getBSRCount" resultType="int">
	  SELECT  COUNT(DISTINCT review_idx)
	  FROM product INNER JOIN product_img ON product.p_idx = product_img.p_idx
	  INNER JOIN review ON product.p_idx = review.p_idx
	  WHERE seller_idx = #{seller_idx}
    </select>
    
    <select id="getfollowCNT" resultType="int">
    SELECT DISTINCT COUNT(follow_idx)
    FROM follow WHERE delyn = 'N' 
    AND seller_idx = #{seller_idx} AND midx = #{midx} 
    </select>
    
    <insert id="getCmLike" parameterType="community_likeVo">
    INSERT INTO community_like(cm_idx, midx)
    VALUES (#{cm_idx},#{midx})
    </insert>
    
    <select id="getCmLikeYn" resultType="int">
    SELECT DISTINCT COUNT(cm_like_idx)
    FROM community_like WHERE cm_like_delyn = 'N' 
    AND cm_idx = #{cm_idx} AND midx = #{midx}
    </select>
    
    <update id="getCmBad" parameterType="community_likeVo">
    UPDATE community_like SET cm_like_delyn ='Y' 
    WHERE cm_like_delyn = 'N' AND cm_idx = #{cm_idx} 
    AND midx = #{midx} 
    </update>
    
    <update id="plusCmLikeCnt" parameterType="community_likeVo">
    UPDATE community SET community_like_cnt = community_like_cnt +1 
    WHERE cm_idx = #{cm_idx}
    </update>
    
    <update id="minusCmLikeCnt" parameterType="community_likeVo">
    UPDATE community SET community_like_cnt = community_like_cnt -1 
    WHERE cm_idx = #{cm_idx}
    </update>
    
    <update id="plusCmCommentCnt" parameterType="commu_commentVo">
    UPDATE community SET cm_comment_cnt = cm_comment_cnt +1 
    WHERE cm_idx = #{cm_idx}
    </update>
    
    <update id="plusCmView" parameterType="int">
    UPDATE community SET cm_view_cnt = cm_view_cnt +1
    WHERE cm_idx = #{cm_idx}
    </update>
    
 
    
    <select id="modi_CB" parameterType="int" resultType="communityVo">
    SELECT cm_subject, cm_content, cm_img, cm_idx, cm_writer,cm_origin_img FROM community WHERE cm_idx= #{cm_idx}
    </select>
    
   
    
    <update id="DeleteCm" parameterType="int">
    UPDATE community SET cm_delyn = 'Y' WHERE cm_delyn = 'N' AND cm_idx = #{cm_idx}
    </update>
    
    <update id="DeleteCc" parameterType="int">
    UPDATE commu_comment SET cc_delyn = 'Y' WHERE cc_delyn = 'N' AND cc_idx = #{cc_idx}
    </update>
    
    <insert id="LikeCc" parameterType="commu_comment_likeVo">
    INSERT INTO commu_comment_like(cc_idx, midx)
    VALUES (#{cc_idx}, #{midx})
    </insert>
    
    <update id="plusCcLike" parameterType="commu_comment_likeVo">
    UPDATE commu_comment SET cc_like = cc_like +1
    WHERE cc_idx = #{cc_idx}
    </update>
    
    <select id="getLikeCcYn" resultType="String">
    SELECT DISTINCT COUNT(cc_like_idx)
    FROM commu_comment_like WHERE cc_like_delyn = 'N' 
    AND cc_idx = #{cc_idx} AND midx = #{midx}
    </select>
    
    
    
    


</mapper>