<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.jeonju.mypet.members">

<select id="loginMembers" parameterType="map" resultType="map">
   select count(*) as m_auth, m_grade, midx, m_nick from members where m_id = #{m_id} and m_pwd = #{m_pwd} 
</select>


</mapper>