<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.jeonju.mypet.pay">
<select id="orderList"  resultType="ordersVo">
<!-- select * from orders a left outer join detail b on a.orders_idx = b.orders_idx left outer join product c on b.p_idx = c.p_idx left outer join cart d on c.p_idx = d.p_idx where a.midx=#{midx} ; -->
 select orders_idx, midx, orders_name, orders_addr1, orders_addr2, orders_addr3, orders_phone, orders_totalprice, orders_day from orders where midx = #{midx};
</select>

<insert id="orderInsert">
 insert into orders (orders_idx,orders_totalprice, orders_name, orders_phone, orders_addr1, orders_addr2,orders_addr3, orders_payment, orders_dvprice, orders_point,midx)
 values(#{orders_idx}#{orders_totalprice}, #{orders_name}, #{orders_phone}, #{orders_addr1}, #{orders_addr2}, #{orders_addr3},#{orders_payment}, #{orders_dvprice}, #{orders_point}, #{midx})
</insert>
<insert id="detailInsert">
 insert into detail (orders_idx,p_idx, detail_status, detail_cnt, fixprice, detail_completeday)
 values(#{orders_idx},#{p_idx},#{detail_status},#{detail_cnt},#{fixprice},#{detail_completeday})
</insert>
<insert id="orderInfo_Details">
 insert into detail(orderDetailsNum, order_idx, p_idx, detail_cnt)
     select #{orderId}, p_idx, cart_cnt
         from cart   
</insert> 
<select id="orderView" resultType="ordersListVo">
 select o.orders_idx, o.midx, o.orders_name , o.orders_addr1, o.orders_addr2 , o.orders_addr3, o.orders_phone, o.orders_totalprice, o.orders_day ,
     d.detail_idx , d.p_idx , d.detail_cnt ,
     p.p_name , p.p_sys_filename , p.p_price
 from orders o inner join detail d on o.orders_idx = d.orders_idx
         inner join product p on d.p_idx = p.p_idx
     where o.midx = 29 and o.orders_idx = 34;
</select>
</mapper>