<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 소현 -->
<mapper namespace = "com.jeonju.mypet.product">

	<select id="getProductList" resultType="productVo">
		select a.*,b.* from product a join product_img b on a.p_idx=b.p_idx where b.p_front_img;
	</select>
	
	
<!-- 소현 -->
</mapper>