<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.jeonju.mypet.product">

<!-- 소현 -->

	<!-- 상품목록 -->
	<select id="getProductList1" resultType="productVo" parameterType="hashMap">
	select a.*,b.*,c.*,IFNULL(avg(review_stars),0) AS avg_reviews_stars, COUNT(review_stars) AS cnt_reviews
	from product a join p_category b on a.p_category_idx = b.p_category_idx join product_img c on a.p_idx=c.p_idx LEFT join review d on a.p_idx=d.p_idx
	where a.p_category_idx=#{p_category_idx}
	GROUP by a.p_idx;
	</select>
	
	<select id="getProductList2" resultType="productVo">
	select a.*,b.*,c.*,IFNULL(avg(review_stars),0) AS avg_reviews_stars, COUNT(review_stars) AS cnt_reviews
	from product a join p_category b on a.p_category_idx = b.p_category_idx join product_img c on a.p_idx=c.p_idx LEFT join review d on a.p_idx=d.p_idx
	where b.p_category_large=#{p_category_large}
	GROUP by a.p_idx;
	</select>
	
	<!-- 상품이미지리스트 -->
	<select id="getproductImgs" resultType="Product_ImgVo">
	select a.*
	from product_img a join product b on a.p_idx=b.p_idx
	where b.p_idx=#{p_idx};
	</select>
	
	
	<!-- 상품목록(페이징) -->
    <select id="getListPaging" resultType="productVo">
        select * from (
                select p_name,p_price
                from product order by p_idx DESC) A
        limit #{skip},#{amount}
    </select>
 
	<!-- 상품게시물 총개수 -->
    <select id="getTotal" resultType="int">
        select count(*) from product
    </select>
    
    
	<!-- 카테고리 -->
	<select id="getCodeName" resultType="productVo" parameterType="HashMap">
	  SELECT *,
      CASE
      WHEN p_category_idx = '1' THEN '개껌'
      WHEN p_category_idx = '2' THEN '스낵'
      WHEN p_category_idx = '3' THEN '뼈/육포'
      WHEN p_category_idx = '4' THEN '스틱'
      WHEN p_category_idx = '5' THEN '프리미엄'
      WHEN p_category_idx = '6' THEN '통살'
      WHEN p_category_idx = '7' THEN '츄르'
      WHEN p_category_idx = '8' THEN '스낵'
      WHEN p_category_idx = '9' THEN '캣잎'
      WHEN p_category_idx = '10' THEN '통살'
      WHEN p_category_idx = '11' THEN '프리미엄'
      WHEN p_category_idx = '12' THEN '스틱'
      ELSE '잉'
      END AS categoryName,
      CASE
      WHEN p_category_large = '1' THEN '강아지'
      WHEN p_category_large = '2' THEN '고양이'
      ELSE '잉'
      END AS categoryLargeName
      FROM p_category
      WHERE p_category_idx=#{p_category_idx} and p_category_large=#{p_category_large};
	</select>
	
	
	<!-- 상품상세페이지 -->
	<select id="getProductView" resultType="productVo">	
	select a.*, b.*, MIN(p_front_img), c.p_sys_filename, c.p_idx,IFNULL(avg(review_stars),0) AS avg_reviews_stars, COUNT(review_stars) AS cnt_reviews
	from product a join p_category b on a.p_category_idx = b.p_category_idx join product_img c on a.p_idx=c.p_idx LEFT join review d on a.p_idx=d.p_idx
	where a.p_idx=#{p_idx}
	</select>
	
	
 	<!-- 상품최신순목록 -->
	<select id="productNewList" resultType="productVo">
		SELECT a.*,b.*,IFNULL(avg(review_stars),0) AS avg_reviews_stars, COUNT(review_stars) AS cnt_reviews
		FROM product a join product_img b on a.p_idx=b.p_idx LEFT join review d on a.p_idx=d.p_idx
		group by a.p_idx
		ORDER BY a.p_idx DESC;
	</select>

	<!-- 상품인기순목록 -->
	<select id="productBestList" resultType="productVo">
		SELECT a.*,b.*, COUNT(c.orders_idx) as '판매량',IFNULL(avg(review_stars),0) AS avg_reviews_stars, COUNT(review_stars) AS cnt_reviews
		FROM product a join product_img b on a.p_idx=b.p_idx LEFT join detail c on a.p_idx=c.p_idx LEFT join review d on a.p_idx=d.p_idx
		GROUP BY a.p_idx
		ORDER BY COUNT(c.orders_idx) DESC;
	</select>
	

	<!-- 리뷰작성화면 -->
	<select id="reviewWrite" resultType="productVo">
	select a.p_name, a.p_idx, a.m_nick, MIN(p_front_img), c.p_sys_filename
	from product a join product_img c on a.p_idx=c.p_idx join sellerStory b on a.seller_idx=b.seller_idx
	where a.p_idx=#{p_idx}
	</select>
	
	<!-- 상세페이지 리뷰리스트 -->
	<select id="getReviewList" resultType="reviewVo">
	select a.*, b.p_name,IFNULL(avg(review_stars),0) AS avg_reviews_stars, COUNT(review_stars) AS cnt_reviews
	from review a join product b on a.p_idx=b.p_idx join orders c on a.orders_idx=c.orders_idx
	where b.p_idx=#{p_idx}
	</select>
	
	<!-- 후기콘텐츠 -->
	<select id="reviewContent" resultType="reviewVo">	
	select a.*, b.*, MIN(p_front_img), c.p_sys_filename, c.p_idx,IFNULL(avg(review_stars),0) AS avg_reviews_stars, COUNT(review_stars) AS cnt_reviews
	from product a left join product_img c on a.p_idx=c.p_idx join review b on a.p_idx=b.p_idx
	where a.p_idx=#{p_idx}
	</select>
	
	<!-- 후기작성 -->
	<select id="insertReview" resultType="reviewVo">
	insert into review (midx, detail_idx,p_idx,orders_idx,review_content,review_stars,review_img,review_nick)
	values(#{midx},#{detail_idx},#{p_idx},#{orders_idx},#{review_content},#{review_stars},#{review_img},#{review_nick});
	</select>
	
	<!-- 후기컨텐츠 상품정보 -->
	<select id="getReviewp" resultType="productVo">
	select *
	from product
	where p_idx=#{p_idx}
	</select>
	
	
<!-- 소현 -->

</mapper>