@charset "UTF-8";

.InsertBtn {
    font-family: GangwonEduSaeeum_OTFMediumA;
    z-index: -10;
    width: 6rem;
    height: 2rem;
    background-color: rgb(174, 221, 255);
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 1.4rem;
    transition: all 0.2s ease 0s;
    color: rgb(44, 44, 44);
}


.exJtTO {
    width: max-content;
    height: max-content;
    position: fixed;
    right: 5vw;
    top: 90vh;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10%;
    z-index: 100;
    gap: 1px;
    transition: all 0.25s ease 0s;
}

.comment {
    resize: none;
    padding: 1rem 1rem 1.5rem;
    outline: none;
    border: 1px solid var(--border4);
    margin-bottom: 1.5rem;
    width: 100%;
    border-radius: 4px;
    min-height: 6.125rem;
    font-size: 1rem;
    color: var(--text1);
    line-height: 1.75;
    background: var(--bg-element1);
}

#side_menu {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}


