@charset "UTF-8";
.title-style, .title-style.bar {
    vertical-align: bottom;
    padding-bottom: 4px;
    margin-bottom: 32px;
    position: relative;
    padding-top: 40px;
    vertical-align: middle;
}
.segment,
 .segment--nospacing {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgb(220 220 220 / 30%);
    -moz-box-shadow: 0 1px 3px 0 rgba(220,220,220,0.301961);
    box-shadow: 0 1px 3px 0 rgb(220 220 220 / 30%);
    margin-top: 10px;
    padding: 0 18px;
    -webkit-box-shadow: 3px 3px 4px 0 #eaeaea80;
    -moz-box-shadow: 3px 3px 4px 0 #eaeaea80;
    box-shadow: 3px 3px 4px 0 #eaeaea80;
    border: solid 1px #ebebeb;
}
.title-style:after, .title-style.bar:after {
    content: '';
    display: block;
    clear: both;
}
.layout-split:after {
    content: '';
    display: block;
    clear: both;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
[data-page=payment] .final-cost {
    margin-bottom: 30px;
}
.final-cost {
    border: 2px solid #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
}
.ui_sticky {
    position: relative;
}
.final-cost .segment, .final-cost .segment--nospacing {
    margin-top: 0;
}
@media (min-width: 720px)
.final-cost .segment, .final-cost .segment--nospacing {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0 none;
}
.user-info-header-right-text {
    color: #333 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
.ui_title__txtright,
 .ui_title__txtright--blue {
    text-align: right;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}
.segment--nospacing {
    padding: 0;
}
.page-location span {
    display: inline-block;
    vertical-align: middle;
}
.page-location li:first-child {
    margin-left: 0;
}
.title-style .txt {
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    color: #333;
}
.page-location .icon-num {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
}
.page-location {
    font-size: 16px;
    font-weight: bold;
    color: #d9d9d9;
    margin-top: 4px;
}
.clf .fr,
 [data-page=couponlist] .coupon-item-list .fr,
 [data-page="video"] .section-video .fr {
    display: block;
    float: right;
}
.layout-split[data-layout-split=payment]>*:first-child {
    margin-left: 0;
    width: 440px;
}

.layout-split[data-layout-split=payment] {
    padding-top: 0;
    padding-bottom: 70px;
}
.layout-split {
    padding-top: 36px;
    position: relative;
}
.clf .fr,
 [data-page=couponlist] .coupon-item-list .fr,
 [data-page="video"] .section-video .fr {
    display: block;
    float: right;
}
.clf .fl, [data-page=couponlist] .coupon-item-list .fl, [data-page="video"] .section-video .fl {
    display: block;
    float: left;
}
.layout-split>* {
    float: left;
}
.layout-split>*:first-child {
    margin-left: 0;
    width: 696px;
}
.layout-split>*:first-child {
    margin-left: 0;
    width: 696px;
}
.layout-split[data-layout-split=payment]>* {
    margin-left: 23px;
    width: 337px;
}

.page-location {
    font-size: 16px;
    font-weight: bold;
    color: #d9d9d9;
    margin-top: 4px;
}
.page-location i {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}
ol, ul {
    list-style: none;
}

.inner-w,
 .inner-w400,
 .inner-w800 {
    width: 1056px;
    margin: 0 auto;
    position: relative;
}
.segment:first-child,
 .segment--nospacing:first-child {
    margin-top: 0;
}

.tab[data-ui-id] {
    cursor: pointer;
}

 .ui_title--sub>*:first-child {
    width: 25%;
}

.ui_title--sub .ui_title__txt {
    font-size: 16px;
}
.ui_title__txt {
    overflow: visible;
}
.ui_title--bg>*,
 .ui_title--sub>*,
 .ui_title>* {
    display: table-cell;
    vertical-align: middle;
}

element.style {
}
 .ui_title--sub>*:last-child {
    font-size: 16px;
    font-weight: bold;
}
.ui_title--sub .ui_title__txtright,
 .ui_title--sub .ui_title__txtright--blue {
    font-size: 12px;
}
.user-info-header-right-text {
    color: #333 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
.segment--nospacing {
    padding: 0;
}
.segment,
 .segment--nospacing {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgb(220 220 220 / 30%);
    -moz-box-shadow: 0 1px 3px 0 rgba(220,220,220,0.301961);
    box-shadow: 0 1px 3px 0 rgb(220 220 220 / 30%);
    margin-top: 10px;
    padding: 0 18px;
    -webkit-box-shadow: 3px 3px 4px 0 #eaeaea80;
    -moz-box-shadow: 3px 3px 4px 0 #eaeaea80;
    box-shadow: 3px 3px 4px 0 #eaeaea80;
    border: solid 1px #ebebeb;
}
 .segment--nospacing .ui_title--sub {
    padding: 20px 18px;
}
.ui_title--sub {
    padding: 20px 0;
    border-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
}
.segment--nospacing .payment-contents {
    padding: 0 18px;
}
.ui_title--sub>*:last-child {
    font-size: 16px;
    font-weight: bold;
}
.tab-style-btn {
    overflow: hidden;
}
.tab-style-btn+.address-info.root {
    margin-top: 10px;
}
.address-info.item {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.address-info.body .input-text,
 .address-info.body .readonly-default[readonly] {
    width: 100%;
}
.input-text input,
 .readonly-default[readonly] input {
    background: #fff;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #acacac;
    width: 100%;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.address-info.head {
    display: table-cell;
    width: 90px;
}
.asterisk.red {
    color: #ff4b50;
    font-size: 18px;
}

.address-info.head label {
    color: #666;
}
.address-info.body {
    display: table-cell;
}
.ProductPaymentMethodSelector[data-v-799e9e98] {
    padding: 0 18px;
    background: #ffffff;
    margin-top: 10px;
    box-shadow: 3px 3px 4px 0 #eaeaea80;
    border: solid 1px #ebebeb;
}
.ProductPaymentMethodSelector__title {
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.PaymentMethodSelector .payment-bill {
    position: relative;
}
.radiogroup>.radio-item {
    margin: 0;
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 22px 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 13px;
    color: #333;
}
label {
    cursor: pointer;
}
.payment-radio-item-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.input-text input, .readonly-default[readonly] input {
    background: #fff;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #acacac;
    width: 100%;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-white {
    color: #333;
    border: 1px solid #ccc;
    background: #fff;
}
.btn-m {
    height: 32px;
    padding: 15px 0;
    padding: 8px 15px;
    font-size: 12px;
    line-height: 14px;
}
.btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    line-height: 1.4;
}
.address-ui.root .address-zip-code {
    width: 100px;
}

.address-ui.row+.row {
    margin-top: 10px;
}

.input-text, .readonly-default[readonly] {
    display: inline-block;
    vertical-align: middle;
}
.address-info.item+.item {
    margin: 10px 0 0;
}
button {
    border: 0 none;
    background: transparent;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
}
button.btn.btn-m.btn-white {
}
.contw{
    position: relative;
}
element.style {
    padding-bottom: 0;
}
.page-location li {
    display: inline-block;
    margin-left: 8px;
}
.page-location li.active .icon-num {
    color: #333;
}
.page-location li.active span, .page-location li.active i {
    color: #333;
}
.final-cost.absolute[data-state=active] {
    position: absolute;
    margin-bottom: 0;
}
[data-page=payment] .ui_sticky[data-state=active] {
    top: 69px;
    width: 337px;
}
@media (max-width: 719px)
[data-page=payment] .final-cost {
    margin-bottom: 0;
}
@media (max-width: 719px)
.final-cost {
    border: 0 none;
    background: #eee;
    padding-top: 10px;
    padding-bottom: 0;
}
@media (max-width: 719px)
.final-cost .table-header {
    width: 100%;
    text-align: left;
    border-bottom: 0 none;
    padding-left: 12px;
    background: #fff;
}
.final-cost .table-header {
    border-bottom: 1px solid #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 15px 0 14px;
    width: 288px;
    margin: 0 auto;
}
@media (max-width: 719px)
.final-cost .table-header+.segment, .final-cost .table-header+.segment--nospacing {
    padding-bottom: 16px;
    margin-top: 0;
}
@media (max-width: 719px)
.final-cost .segment, .final-cost .segment--nospacing {
    border-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 720px)
.final-cost .segment-group .segment--nospacing:first-child {
    border-top: 0 none;
}
@media (min-width: 720px)
.final-cost .segment-group .segment--nospacing {
    margin-top: 0;
    padding: 0;
    border: 0 none;
    border-top: 1px solid #d9d9d9;
}
.final-cost .ui_title--sub:first-child {
    border-top: 0 none;
}
.final-cost .segment table:first-child, .final-cost .segment--nospacing table:first-child {
    margin-top: 12px;
    margin-bottom: 12px;
}
@media (max-width: 719px)
.final-cost table {
    width: 100%;
}
.final-cost table {
    width: 288px;
    margin: 0 auto;
    table-layout: fixed;
}
table>* {
    color: inherit;
    font-size: inherit;
}
@media (max-width: 719px)
.final-cost table tr:first-child td, .final-cost table tr:first-child th {
    padding-top: 0;
}
.final-cost table td span {
    font-size: 14px;
}
.final-cost table th {
    color: #666;
    font-size: 13px;
    width: 60%;
}
.final-cost table th, .final-cost table td {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    text-align: left;
    padding: 4px 0;
}
@media (max-width: 719px)
.final-cost table {
    width: 100%;
}
.final-cost table {
    width: 288px;
    margin: 0 auto;
    table-layout: fixed;
}
.final-cost table .total th {
    font-size: 16px;
    color: #333;
}
@media (max-width: 719px)
.final-cost table .total th, .final-cost table .total td {
    padding: 16px 0 !important;
}
.final-cost table .total th, .final-cost table .total td {
    border-top: 1px solid #d9d9d9;
    position: relative;
    vertical-align: middle;
    font-weight: bold;
    padding: 10px 0;
}
@media (max-width: 719px)
.final-cost table.spacing th {
    width: 30%;
}
.final-cost table .total td {
    font-size: 18px;
    vertical-align: middle;
}
.final-cost table.spacing td {
    width: auto;
}
.final-cost table .total th, .final-cost table .total td {
    border-top: 1px solid #d9d9d9;
    position: relative;
    vertical-align: middle;
    font-weight: bold;
    padding: 10px 0;
}
.final-cost table .total td>* {
    display: inline-block;
    vertical-align: middle;
}
.final-cost table [data-payment=total] {
    color: #333;
    font-size: 24px;
    letter-spacing: -0.02em;
}
.final-cost table .total td em {
    margin-left: 2px;
}
.final-cost .bg-style--large {
    padding: 11px 8px;
}
.final-cost .bg-style--warning {
    color: #333;
}
.bg-style--warning {
    border: none;
    background: #faece5;
}
.hide, .hidden {
    display: none !important;
}
@media (max-width: 719px)
.final-cost .segment-group {
    margin-top: 10px;
}
@media (max-width: 719px)
[data-page=payment] .inner-w, [data-page=payment] .inner-w400, [data-page=payment] .inner-w800 {
    padding: 0;
    background: #eee;
}

[data-ui=tabpanel] .tab[data-ui-id="info_personal1"], [data-ui=toggle-tab] .tab[data-ui-id="info_personal1"] {
    padding: 16px 0 !important;
    color: #333;
}
[data-page=shoppingBag] .ui_title--sub, [data-page=payment] .ui_title--sub {
    padding: 20px 0;
    border-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
}
@media (min-width: 720px)
.final-cost .segment-group .segment--nospacing:last-child {
    border-top: 0;
}

.final-cost .ui_title--sub>*:first-child {
    font-size: 14px;
    width: 75%;
}
.checkout-toggle-btn {
    color: #666 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    text-align: right !important;
}


@media (min-width: 720px)
.final-cost .segment-group {
    padding: 0 22px 24px;
}

@media (min-width: 720px)
.final-cost .segment-group .segment--nospacing {
    margin-top: 0;
    padding: 0;
    border: 0 none;
    border-top: 1px solid #d9d9d9;
}
.final-cost .ui_btn--red--large {
    margin-top: 16px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: normal;
    padding: 10px 0;
    height: 62px;
    background: #f1df3f;
}
.ui_btn--red--large {
    font-size: 16px;
    padding: 0 24px;
    line-height: 46px;
    border-color: transparent;
    background: #f1df3f;
    color: #fff;
}
